body {
  background: brown;
  position: relative;
  padding: 0;
  margin:0;
}

.top-box {
  background: rgb(164,145,145);
  padding-top:50vh;
}

.bottom-box {
  background: rgb(172,172,172);
  padding-top:50vh;
}

.formulario-container {
  border-left: ridge white 10px;
  border-top: ridge white 10px;
  border-bottom: groove white 10px;
  border-right: groove white 10px;
  background: rgba(7,145,230,.5);
  position: absolute;
  z-index: 10;
  display: grid;
  align-items: center;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
  top: 38%;
  text-align: center;
  left: 25%;
  right: 25%;
  margin-top: -70px;
  margin-left: -90px;
  margin-right: -90px;
  max-width: 100%;
  padding: 5px;
  font-family: 'Source Sans Pro', system-ui;
}

.form {
  margin: 5px;
  padding: 5px;
}

.view-box {
  border: solid white 1px;
  max-height: 150px;
  overflow-y: auto;
  margin-bottom: 5px;
}

.button-reset {
  margin-left: 40%;
  margin-right: 40%;
  border-radius: 8px;
  font-family: system-ui;
  border:1px solid rgb(17,91,173);
  border-bottom: 3px solid rgb(17,91,173);
}

.button-reset:hover {
  background-color: rgb(17,91,173);
}

.button-submit {
  border-radius: 5px;
  font-family: system-ui;
  margin-top: 2px;
  margin-bottom: 2px;
  border: 1px solid rgb(172,172,172);
  border-right: 3px solid rgb(174,174,174);
  border-left: 3px solid rgb(174,174,174);
  border-bottom: 3px solid rgb(174,174,174);
}

.button-submit:hover {
  background-color: rgb(180,180,180);
}

.view-box-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5px;
}

.description-container {
  display: grid;
  position: absolute;
  top:8px;
  grid-template-columns: repeat(3, auto);
  text-align: center;
  grid-gap: 12px;
  left:35%;
  right:35%;
  font-family: 'Pacifico', system-ui;
}

.description-title {
  border: 2px solid rgba(106,82,70, .8);
  border-radius: 5px;
  margin: 5px;
}

.description-title:hover {
  box-shadow: 0px 0px 4px 6px rgba(81,58,50,.7);
  background-color: rgba(81,58,50,.4);
  animation-name: prueba;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.description-title:hover + .description-content {
  display: inline-block;
  top:42px;
  left: 8%;
  right: 8%;
}

.description-content {
  display:none;
  background-color: rgba(46,35,36,.4);
  position: absolute;
  text-align: justify;
  border: 2px inset rgb(172,172,172);
  border-bottom: 2px outset rgb(172,172,172);
  border-top: 2px outset rgb(172,172,172);
  border-radius: 5px;
  padding:3px;
  font-family: system-ui;
}
.description-content.example {
  display: none;
}

.description-example {
  text-align: center;
}

.description-title:hover + .description-content.example {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.description-detail {
  display: block;
  margin: 3px;
  font-size: 13px;
  text-align: center;
}
@keyframes prueba {
  0% {
    transform: rotate(35deg);
  }
  12.5% {
    transform: rotate(-30deg);
  }
  25% {
    transform: rotate(25deg);
  }
  37.5% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(15deg);
  }
  62.5% {
    transform: rotate(-10deg);
  }
  75 % {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@font-face {
 font-family: 'icomoon';
 font-display: auto;
 src:  url('./icomoon2/fonts/icomoon.eot?ygvxp7');
 src:  url('./icomoon2/fonts/icomoon.eot?ygvxp7#iefix') format('embedded-opentype'),
   url('./icomoon2/fonts/icomoon.ttf?ygvxp7') format('truetype'),
   url('./icomoon2/fonts/icomoon.woff?ygvxp7') format('woff'),
   url('./icomoon2/fonts/icomoon.svg?ygvxp7#icomoon') format('svg');
 font-weight: normal;
 font-style: normal;
}

[class^="icon1-"], [class*="icon1-"] {
 /* use !important to prevent issues with browser extensions that change fonts */
 font-family: 'icomoon' !important;
 speak: none;
 font-style: normal;
 font-weight: normal;
 font-variant: normal;
 text-transform: none;
 line-height: 1;
 /* Líneas agregadas por mi */
 text-decoration: none;
 font-size: 50px;
 color: white;
 width: 40px;
 height: 40px;
 background-size: 100%;
 margin:5px 9px 5px 9px;
 /* display:block; */


 /* Better Font Rendering =========== */
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

.icon1-github:before {
 content: "\eab0";
}

.footer {
  /* border: 2px solid red; */
  position: absolute;

  left: 30%;
  right: 30%;
  margin-left: 10px;
  margin-right: 10px;
  bottom: 20px;
  font-family: system-ui;
}

.footer-details {
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.footer-title {
  text-align: center;
}

.footer-spa {
  border: 2px solid rgba(10,11,15,.8);
  border-radius: 4px;
}

.footer-spa:hover {
  background-color: white;
}

.footer-spa-link {
  text-decoration: none;
  color:black;
  padding:5px;
  font-size: 20px;
}
